@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    margin: 0;
    padding: 0;
}

body {
    color: #263138;
}

header {
    background-color: #974C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 5%;
    padding-right: 5%;
}

header a {
    color: #FFFFFF;
    font-weight: 600;
    padding: 0 16px;
    text-decoration: none;
}

header img {
    width: 25%;
}

header nav {
    display: flex;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 5% 128px 5%;
    position: relative;
}

h1,
h2 {
    font-family: "Rye", serif;
    color: #974C1C;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 32px;
}

h4 {
    font-family: "Rye", serif;
    color: #974C1C;
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 16px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 32px;
    text-align: justify;
}

.botao {
    background-color: #974C1C;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente {
    background-color: transparent;
    color: #974C1C;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#sobre {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 5%;
}

#app {
    padding: 64px 5%;
    text-align: center;
}

#app img {
    margin: 15px auto;
}

#app .paragrafo {
    max-width: 950px;
    margin: 0 auto;
}

#duvidas {
    display: flex;
    align-items: start;
    gap: 64px;
    padding: 64px 5%;
}

.duvida {
    position: relative;
    width: 100%;
}

.duvida h3 {
    border: 2px solid #974C1C;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    padding: 24px;
}

.duvida img {
    position: absolute;
    bottom: 10px; /* Posição da seta na base */
    right: 24px;
    width: 20px; /* Define o tamanho fixo para as setas */
    height: 20px; /* Define o tamanho fixo para as setas */
    transition: transform 0.2s; /* Adiciona transição para rotação */
}

.duvida p {
    border-right: 1px solid #974C1C;
    border-bottom: 1px solid #974C1C;
    border-left: 1px solid #974C1C;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 24px;
    padding: 0 24px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: .2s;
}

.duvida.ativa p {
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

.duvida.ativa img {
    transform: rotate(180deg); /* Rotaciona a seta ao expandir */
}

footer {
    background-color: #ff986c40;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 64px 5%;
}

footer img {
    width: 150px;
    height: 150px;
}

footer img,
footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer i {
    width: 10px;
    height: 10px;
    display: flex;
}

footer nav a {
    color: #263138;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
}

footer p {
    margin-bottom: 16px;
    max-width: 350px;
}

footer p a {
    color: #263138;
    text-decoration: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 24px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #974C1C;
    color: #FFFFFF;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease, all 0.2s ease;
    align-items: center;
}

#myBtn:hover {
    background-color: #EACCA8;
    color: #974C1C;
}

@media screen and (max-width: 768px) {
    header {
        padding-left: 3%;
        padding-right: 3%;
    }

    #inicio,
    #sobre,
    #app,
    #duvidas,
    footer {
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding-left: 2%;
        padding-right: 2%;
    }

    #inicio,
    #sobre,
    #app,
    #duvidas,
    footer {
        padding-left: 2%;
        padding-right: 2%;
    }

    #inicio, #sobre, #duvidas {
        flex-direction: column;
        align-items: center;
    }

    #inicio img, #sobre img, #duvidas img {
        margin-bottom: 16px;
        width: calc(100% - 30px); /* Diminui as imagens em 30px */
    }

    #inicio .paragrafo, #sobre .paragrafo, #duvidas .paragrafo {
        text-align: center;
    }

    .duvida {
        width: 100%; /* Garante que as caixas de dúvida ocupem 100% da largura no mobile */
    }

    .duvida h3 {
        padding: 16px; /* Ajusta o padding para se adequar melhor ao mobile */
        font-size: 1rem; /* Ajusta o tamanho da fonte para mobile */
        border: none; /* Remove as bordas */
    }

    .duvida img {
        bottom: 10px; /* Posição da seta na base */
        right: 16px; /* Ajusta a posição da seta */
        width: 16px; /* Ajusta o tamanho da seta */
        height: 16px; /* Ajusta o tamanho da seta */
    }

    .duvida p {
        padding: 16px; /* Ajusta o padding do parágrafo para mobile */
        font-size: 0.875rem; /* Ajusta o tamanho da fonte para mobile */
        border: none; /* Remove as bordas */
    }
}

@media screen and (max-width: 375px) {
    header {
        flex-direction: column;
    }

    header img {
        width: 100px; /* Ajusta o tamanho da logo */
        margin-bottom: 16px;
    }

    #inicio img, #sobre img, #duvidas img {
        margin-bottom: 16px;
        width: 100%; /* Ajusta a largura das imagens */
    }

    #duvidas img {
        margin-bottom: 0;
    }

    .duvida h3 {
        padding: 12px; /* Ajusta o padding para se adequar melhor ao mobile */
        font-size: 0.875rem; /* Ajusta o tamanho da fonte para mobile */
    }

    .duvida p {
        padding: 12px; /* Ajusta o padding do parágrafo para mobile */
        font-size: 0.75rem; /* Ajusta o tamanho da fonte para mobile */
    }
}

.dark-mode {
    background-color: #1a1a1a;
    color: #fff;
}

.dark-mode header {
    background-color: rgba(87, 62, 39, 0.925);
}

.dark-mode header a {
    color: #fff; 
}

.dark-mode footer nav a {
    color: #fff;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
}

button#modo-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #974C1C;
    color: #ffffff;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    z-index: 99;
    cursor: pointer;
    transition: all 0.2s ease;
}

button#modo-btn:hover {
    background-color: #EACCA8;
    color: #974C1C;
}

.imgFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imgFooter a img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.imgFooter p {
    margin: 5px 0;
}

.imgFooter p a {
    display: inline-block;
}

@media (max-width: 600px) {
    .imgFooter a img {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }
}

@media (max-width: 950px) {
    footer {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        gap: 40px;
        padding: 32px;
    }

    footer div:first-child {
        text-align: center;
    }

    footer div:first-child > p {
        max-width: unset;
    }

    footer img {
        margin-left: auto;
        margin-right: auto;
    }
}